<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userBiz" class="org.client.UserBiz" lazy-init="true">
		<property name="dao1" ref="mariaDao"></property>
		<property name="dao2" ref="oracleDao"></property>
	</bean>
	
	<bean id="mariaDao" class="org.client.UserMariaDao"></bean>
	<bean id="oracleDao" class="org.client.UserOracleDao"></bean>
	
</beans>
